@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.root {
    -fx-background-color: #FFFFFF;
    -fx-font-family: "Poppins", sans-serif;
    -fx-text-fill: #3C0048;
    -fx-font-weight: 300 ;
}
/* Home Page */
.header {
    -fx-background-color: linear-gradient(to right, #b057d9, #3729a8);
}

.home-heading-text {
    -fx-font-size: 40px;
    -fx-text-fill: #FFFFFF;
}

.home-subheading-text {
    -fx-font-size: 25px;
    -fx-text-fill: #FFFFFF;
    -fx-padding: 0px 0px 20px 0px;
}

.home-paragraph-text {
    -fx-font-size: 25px;
    -fx-text-fill: linear-gradient(to right, #b057d9, #3729a8);
    -fx-font-weight: 700;
}

.home-get-started-button {
    -fx-background-color: transparent;
    -fx-background-radius: 30;
    -fx-border-color: #378bfd;
    -fx-border-width: 1;
    -fx-border-radius: 30;
    -fx-text-fill: #378bfd;
    -fx-font-size: 18px;
    -fx-cursor: hand;
}

.home-get-started-button:hover {
    -fx-background-color: #378bfd;
    -fx-background-radius: 30px;
    -fx-text-fill: #FFFFFF;
}


 /*Import Transactions Styling*/
.heading-bar-label {
    -fx-font-size: 50px;
}

.browse-button,
.import-button {
    -fx-background-color: transparent;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-border-color: #378bfd;
    -fx-border-width: 1px;
    -fx-border-radius: 30;
    -fx-text-fill: #378bfd;
    -fx-cursor: hand;
    -fx-font-size: 18px;
    -fx-font-weight: 600;
}
.view-transactions-button {
    -fx-font-size: 22px;
    -fx-background-color: #378bfd;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: #FFFFFF;
    -fx-cursor: hand;
    -fx-font-weight: 600;
}
.view-transactions-button:hover {
    -fx-background-color: #3729a8;

}


.browse-button:hover,
.import-button:hover {
    -fx-background-color: #378bfd;
    -fx-border-width: 0;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: #FFFFFF;
}

.view-transactions-button .label {
    -fx-font-size: 10px;
}

.file-path-input {
    -fx-background-color: transparent;
    -fx-background-radius: 30;
    -fx-border-color: linear-gradient(to right, #b057d9, #3729a8);
    -fx-border-width: 1;
    -fx-border-radius: 30;
    -fx-font-size: 18px;
}

.or-separator {
    -fx-background-color: transparent;
}
.separator .line {
    -fx-border-color: #3729a8;
    -fx-border-width: 1px;
    -fx-background-radius: 50px;
}

#filePathLabel, #orSeperatorText {
    -fx-font-family: "Urbanist", sans-serif ;
}

#orSeperatorText {
    -fx-font-weight: 100;
}

#statusMessageLabel, #fileNameLabel, #viewTransactionsErrorLabel{
    -fx-font-size: 18px;
}

#fileNameLabel {
    -fx-font-weight: bolder;
    -fx-text-fill: linear-gradient(to right, #b057d9, #3729a8);

}

#browseFilesCover {
    -fx-background-color: transparent;
    -fx-background-radius: 30;
    -fx-border-color: #3729a8;
    -fx-border-width: 1px;
    -fx-border-radius: 30;
}



/* View Transactions */
.table-view {
    -fx-background-color: transparent;
    -fx-text-fill: #3C0048;
    -fx-padding: 30px;
}

.table-column {
    -fx-background-color: transparent;
    -fx-text-fill: #3C0048;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}


.pane .label {
    -fx-font-size: 11px !important;
}



.table-row-cell {
    -fx-border-color: transparent transparent #FFFFFF transparent;
    -fx-border-width: 2px 0 2px 0;
    -fx-pref-height: 60px;
}

.table-cell {
    -fx-border-color: transparent; /* Removes vertical borders between cells */
    -fx-pref-height: 10px;
    -fx-alignment: CENTER;
    -fx-font-weight: 500;
    -fx-text-fill: #000000;
}


.table-column .label {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
}

.table-view .column-header {
    -fx-background-color: #b057d9; /* Replace with your desired color */
}



.tool-bar {
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-tile-alignment: center;
}

.tool-bar .separator {
    -fx-opacity: 0;
}


.scroll-bar:vertical {
    -fx-start-margin: 10px;
    -fx-background-color: transparent;
    -fx-pref-width: 10px;
}

.scroll-bar:horizontal {
    -fx-background-color: transparent;
    -fx-pref-height: none;
}

.scroll-bar .thumb {
    -fx-background-color: linear-gradient(#b057d9, #3729a8);;
    -fx-background-insets: 2;
    -fx-background-radius: 5;
}

.scroll-bar .track {
    -fx-background-color: transparent;
    -fx-background-radius: 5;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

.import-transactions-button {
    -fx-background-color: transparent;
    -fx-text-fill: #3729a8;
    -fx-font-size: 15px;
    -fx-cursor: hand;
}
.import-transactions-button:hover {
    -fx-text-fill: #b057d9;
}

#fileNameLabelViewTransactions {
    -fx-padding: 30px 0px 0px 30px;
    -fx-font-size: 28px;
    -fx-font-weight: bolder;
    -fx-text-fill: linear-gradient(to right, #b057d9, #3729a8);
}

.validate-transactions-button {
    -fx-font-size: 18px;
    -fx-background-color: #378bfd;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: #FFFFFF;
    -fx-cursor: hand;
    -fx-font-weight: 600;
}
.validate-transactions-button:hover {
    -fx-background-color: #3729a8;

}

/* Validate Transactions */
.calculate-button {
    -fx-font-size: 18px;
    -fx-background-color: #378bfd;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: #FFFFFF;
    -fx-cursor: hand;
    -fx-font-weight: 600;
}

.calculate-button:hover {
    -fx-background-color: #3729a8;
}

.validate-info {
    -fx-padding: 40px 0 40px 40px;
    -fx-font-size: 20px;
    -fx-font-weight: bolder;
}

#validTable, #invalidTable {
    -fx-pref-height: 500px;
}

.section-title {
    -fx-font-size: 28px;
    -fx-padding: 0 0 0 40px;
    -fx-font-weight: bolder;
    -fx-text-fill: linear-gradient(to right, #b057d9, #3729a8);
}

.breadcrumb {
    -fx-alignment: CENTER_LEFT;
    -fx-font-size: 14px;
    -fx-text-fill: #7f8c8d;
    -fx-padding: 10 0 0 0;
}

.action-button {
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-background-color: transparent;
    -fx-border-color: #b057d9;
    -fx-border-width: 1px;
    -fx-text-fill: #b057d9;
    -fx-cursor: hand;
}
.action-button:hover {
    -fx-background-color: #b057d9;
    -fx-text-fill: #FFFFFF;
    -fx-border-width: 0;
}


/* Edit Transactions */
.popup-heading {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 25px;
    -fx-font-weight: bolder;
}

.edit-transactions-action-buttons {
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-background-color: transparent;
    -fx-border-color: #b057d9;
    -fx-border-width: 1px;
    -fx-text-fill: #b057d9;
    -fx-cursor: hand;
}
.edit-transactions-action-buttons:hover {
    -fx-background-color: #b057d9;
    -fx-text-fill: #FFFFFF;
    -fx-border-width: 0;
}

.popup-labels {
    -fx-font-weight: bolder;
}

.popup-inputs {
    -fx-background-color: transparent;
    -fx-background-radius: 30;
    -fx-border-color: linear-gradient(to right, #b057d9, #3729a8);
    -fx-border-width: 1;
    -fx-border-radius: 30;
}

.popup-error-labels {
    -fx-font-size: 10px;
    -fx-text-fill: #CC0202 ;
}

#reasonLabel {
    -fx-text-fill: #CC0202 ;
}

/* Calculate Profit */

.profit-info {
    -fx-padding: 40px 0 40px 40px;
    -fx-font-size: 20px;
    -fx-font-weight: bolder;
}

.calculate-tax-button {
    -fx-font-size: 20px;
    -fx-background-color: #378bfd;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: #FFFFFF;
    -fx-cursor: hand;
    -fx-font-weight: 600;

}

.calculate-tax-button:hover {
    -fx-background-color: #3729a8;
}

.deleteZeroProfitsButton {
    -fx-font-size: 15px;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-background-color: transparent;
    -fx-border-color: #b057d9;
    -fx-border-width: 1px;
    -fx-text-fill: #b057d9;
    -fx-cursor: hand;
}
.deleteZeroProfitsButton:hover {
    -fx-background-color: #b057d9;
    -fx-text-fill: #FFFFFF;
}

#deletedCountLabel {
    -fx-padding: 0 0 50px 0;
    -fx-font-weight: bolder;
    -fx-text-fill: #b057d9;
    -fx-font-size: 14px;
}

#validatedTransactionsCountLabel {
    -fx-padding: 30px 30px 0 30px;
    -fx-font-size: 20px;
    -fx-font-weight: bolder;
    -fx-text-fill: linear-gradient(to right, #b057d9, #3729a8);
}

/* Calculate Tax */
.calculate-tax-input-container {
    -fx-spacing: 30px;
    -fx-padding: 30px;
}

.calculate-tax-row-container {
    -fx-spacing: 5px;
    -fx-padding: 5px;
}

.calculate-tax-row-heading {
    -fx-background-color: #b057d9;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 20px;
    -fx-font-weight: bolder;
}
.calculate-tax-row-data {
    -fx-background-color: #b057d9;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 20px;
}

.final-tax-row {
    -fx-background-color: #3729a8;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 20px;
    -fx-font-weight: bolder;
}

#taxRateInput {
    -fx-background-color: transparent;
    -fx-background-radius: 30;
    -fx-border-color: linear-gradient(to right, #b057d9, #3729a8);
    -fx-border-width: 1;
    -fx-border-radius: 30;
    -fx-font-size: 20px;
}

.calculate-tax-on-input-button {
    -fx-font-size: 20px;
    -fx-background-color: #3729a8;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: #FFFFFF;
    -fx-cursor: hand;
    -fx-font-weight: 600;
}

.calculate-tax-on-input-button:hover {
    -fx-background-color: #b057d9;
}

.tax-rate-label {
    -fx-font-size: 20px;

}






